--extra-index-url https://download.pytorch.org/whl/cu116

numpy<2                 # TensorFlow & xformers need 1.x
torch==1.13.1+cu116     # GPU build that xformers wants
xformers==0.0.16

astor
gast
google-pasta
grpcio
h5py
Keras-Applications
Keras-Preprocessing
Markdown
opencv-python
Pillow
PySide6
shiboken6
scipy
six
tensorboard==2.9.1
tensorflow-estimator
termcolor
Werkzeug
wrapt
scikit-image
imageio
pywavelets
tensorflow==2.9.0
protobuf>=3.9.2,<3.20
